/**
 * Type	: Foundation
 * Name	: Blockquote
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * Blockquote • Settings
 * *************************************
 */


/**
 * ************************************
 * Blockquote • Class Definitions
 * ************************************
 */

 .f-blockquote__copy{

    color: c(purple);

 }

 .f-blockquote__credit{

    color: c( gray--m );
    font-style: italic;

 }