/**
 * Type	: Foundation
 * Name	: Link
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * Link • Settings
 * *************************************
 */

	// Standard Link
	$link__color--standard: c( purple );
	$link__color--inverted: c( gold );

/**
 * ************************************
 * Link • Class Definitions
 * ************************************
 */

 // Base link styles
 .f-link{

	@include border( bottom, link, transparent );
	@include transition( link );

 }


// Links against a light background
.f-link--standard{

	color: $link__color--standard;

	&:hover{

		border-color: $link__color--standard;

	}

}

// Links against a dark background
.f-link--inverted{

	color: $link__color--inverted;
	font-weight: 700;

	&:hover{

		border-color: $link__color--inverted;

	}

}