/**
 * Type	: Component
 * Name	: Hero -- Project
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * Hero -- Project • Settings
 * *************************************
 */


/**
 * ************************************
 * Hero -- Project • Class Definitions
 * ************************************
 */

 .c-hero--project{

	align-items: flex-end;
	display: flex;
    justify-content: flex-end;
	min-height: 75vh;

 }
