/**
 * Type		: Utility
 * Group	: Background
 *
 * @since 1.0.0
 * @author CreativeFuse
 */


/**
 * navy
 */
 .u-bgc--navy{

    background-color: c( navy );

 }

 .u-bgc--navy--l5{

    background-color: c( navy, light5 );

 }

 .u-bgc--navy--d5{

    background-color: c( navy, dark5 );

 }


 /**
  * blush
  */
 .u-bgc--blush{

    background-color: c( blush );

 }

 .u-bgc--blush--l5{

    background-color: c( blush, light5 );

 }

 .u-bgc--blush--d5{

    background-color: c( blush, dark5 );

 }

/**
 * Gray
 */

.u-bgc--white{

    background-color: c( white );

 }

 .u-bgc--gold{

    background-color: c( gold );

 }

 .u-bgc--gray--l{

    background-color: c( gray--l );

 }

 .u-bgc--dark-blue{

    background-color: c( dark-blue );

 }