/**
 * Type		: Utility
 * Group	: Background
 *
 * @since 1.0.0
 * @author CreativeFuse
 */


/**
 * Purple
 */
 .u-bgc--purple{

    background-color: c( purple );

 }

 .u-bgc--purple--l5{

    background-color: c( purple, light5 );

 }

 .u-bgc--purple--d5{

    background-color: c( purple, dark5 );

 }


 /**
  * gold
  */
 .u-bgc--gold{

    background-color: c( gold );

 }

 .u-bgc--gold--l5{

    background-color: c( gold, light5 );

 }

 .u-bgc--gold--d5{

    background-color: c( gold, dark5 );

 }

/**
 * Gray
 */

.u-bgc--white{

    background-color: c( white );

 }

 .u-bgc--gray--m{

    background-color: c( gray--m );

 }

 .u-bgc--gray--l{

    background-color: c( gray--l );

 }

 .u-bgc--gray--d{

    background-color: c( gray--d );

 }