/**
 * Type		: Utility
 * Group	: Color
 *
 * @since 1.0.0
 * @author CreativeFuse
 */


/**
 * navy
 */

 .u-c--navy{

    color: c( navy );

 }

 .u-c--navy--l5{

    color: c( navy, light5 );

 }

 .u-c--navy--d5{

    color: c( navy, dark5 );

 }


 /**
  * blush
  */
 .u-c--blush{

    color: c( blush );

 }

 .u-c--blush--l5{

    color: c( blush, light5 );

 }

 .u-c--blush--d5{

    color: c( blush, dark5 );

 }

/**
 * Gray
 */

.u-c--white{

    color: c( white );

}

 .u-c--gold{

    color: c( gold );

 }

 .u-c--gray--l{

    color: c( gray--l );

 }

 .u-c--dark-blue{

    color: c( dark-blue );

 }