/**
 * Type		: Utility
 * Group	: Color
 *
 * @since 1.0.0
 * @author CreativeFuse
 */


/**
 * Purple
 */

 .u-c--purple{

    color: c( purple );

 }

 .u-c--purple--l5{

    color: c( purple, light5 );

 }

 .u-c--purple--d5{

    color: c( purple, dark5 );

 }


 /**
  * gold
  */
 .u-c--gold{

    color: c( gold );

 }

 .u-c--gold--l5{

    color: c( gold, light5 );

 }

 .u-c--gold--d5{

    color: c( gold, dark5 );

 }

/**
 * Gray
 */

.u-c--white{

    color: c( white );

}

 .u-c--gray--m{

    color: c( gray--m );

 }

 .u-c--gray--l{

    color: c( gray--l );

 }

 .u-c--gray--d{

    color: c( gray--d );

 }