/**
 * Type	: Utility
 * Group	: Fill
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * Purple
 */

 .u-f--purple{

    color: c( purple );

 }

 .u-f--purple--l5{

    color: c( purple, light5 );

 }

 .u-f--purple--d5{

    color: c( purple, dark5 );

 }

 /**
  * Gold
  */
 .u-f--gold{

    color: c( gold );

 }

 .u-f--gold--l5{

    color: c( gold, light5 );

 }

 .u-f--gold--d5{

    color: c( gold, dark5 );

 }

/**
 * Gray
 */

 .u-f--white{

    color: c( white );

 }

 .u-f--gray--m{

    color: c( gray--m );

 }

 .u-f--gray--l{

    color: c( gray--l );

 }

 .u-f--gray--d{

    color: c( gray--d );

 }