/**
 * Type	: Utility
 * Group	: Fill
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * navy
 */

 .u-f--navy{

    color: c( navy );

 }

 .u-f--navy--l5{

    color: c( navy, light5 );

 }

 .u-f--navy--d5{

    color: c( navy, dark5 );

 }

 /**
  * blush
  */
 .u-f--blush{

    color: c( blush );

 }

 .u-f--blush--l5{

    color: c( blush, light5 );

 }

 .u-f--blush--d5{

    color: c( blush, dark5 );

 }

/**
 * Gray
 */

 .u-f--white{

    color: c( white );

 }

 .u-f--gold{

    color: c( gold );

 }

 .u-f--gray--l{

    color: c( gray--l );

 }

 .u-f--dark-blue{

    color: c( dark-blue );

 }