/**
 * Type		: Utility
 * Group	: Type
 *
 * @since 1.0.0
 * @author CreativeFuse
 */


.u-text-up{
	text-transform: uppercase;
}


.u-text-down{
	text-transform: lowercase;
}

.u-text-cap{
	text-transform: capitalize;
}