/**
 * Type	: Component
 * Name	: BG Video
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * BG Video • Settings
 * *************************************
 */


/**
 * ************************************
 * BG Video • Class Definitions
 * ************************************
 */

.c-bg-video{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: z( zero );
    pointer-events: none;
    overflow: hidden;

}

.c-bg-video iframe{

    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    left: 50%;
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;

}