/**
 * Type	: Component
 * Name	: BG Video
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * BG Image • Settings
 * *************************************
 */


/**
 * ************************************
 * BG Image • Class Definitions
 * ************************************
 */

.c-bg-image{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: z( below );
    overflow: hidden;

}