/**
 * Type	: Component
 * Name	: Bio
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * Bio • Settings
 * *************************************
 */


/**
 * ************************************
 * Bio • Class Definitions
 * ************************************
 */

 .c-bio{

    background: c( white );
    display: flex;

 }

 .c-bio__content,
 .c-bio__media{

    flex: 1;

 }

 .c-bio__content{

    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: spacer( layout, xl ) spacer( component, 4xl );

 }

 .c-bio__headshot{

    display: block;
    width: 100%;

 }

.c-bio__roles{

    color: c( purple );

}

 .c-bio__copy{

    margin-top: spacer( component, xl );

 }