/**
 * Type	: Component
 * Name	: CTA
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * CTA • Settings
 * *************************************
 */


/**
 * ************************************
 * CTA • Class Definitions
 * ************************************
 */

 .c-cta{

    padding: spacer( layout, 2xl ) 0px;
    text-align: center;
    position: relative;

 }

 /**
  * Home CTA
  */
  .c-cta{

    background-color: rgba( c( purple ), .95 );
    color: c( white );

  }