/**
 * Type	: Component
 * Name	: Featured-project
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * Featured-project • Settings
 * *************************************
 */


/**
 * ************************************
 * Featured-project • Class Definitions
 * ************************************
 */

 .c-featured-project{

    background-position: center center;
    background-size: cover;
    padding: spacer( layout, l ) spacer( component, s );
    position: relative;
    z-index: z( base );

    @include shadow( media--subtle );

	@include breakpoint( s ){
		padding: spacer( layout, 2xl ) spacer( layout, xl );
	}

 }

 .c-featured-project:not( :last-child ){

	 margin-bottom: spacer( layout, 2xl );

	@include breakpoint( s ){
		margin-bottom: spacer( layout, 3xl );
	}

 }

 .c-featured-project__wrapper{

	display: flex;
	position: relative;
	z-index: 2;

 }

 .c-featured-project__background,
 .c-featured-project__background .c-progressive{

	 display: block;
	 height: 100%;
	 left: 0;
	 position: absolute;
	 top: 0;
	 width: 100%;
	 z-index: 1;

	 @include breakpoint( m ){
		//
	 }

 }

 .c-featured-project__background .c-progressive .c-progressive__image{

	object-fit: cover;
	height: 100%;

	@include breakpoint( m ){
		//
	}

}

 // Handle Even Projects
 .c-featured-project:nth-child( even ) > .c-featured-project__wrapper{

    justify-content: flex-start;

 }

 .c-featured-project__overlay{

    //background-color: c( white );
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: z( zero );

 }

 /**
  * Featured Project • Card
  */

  .c-featured-project__card{

    background-color: c(  white );
	padding: spacer(  layout, xs );
    position: relative;
    top: -125px;
	max-width: 450px;
	margin: 0 auto;
    z-index: z( front );

	@include shadow( media--subtle );

	@include breakpoint( s ){

		top: -250px;

	}

	@include breakpoint( m ){
		padding: spacer(  layout, m );
	}

	@include breakpoint( l ){
		margin: 0;
	}

  }

  /**
   * Card Contents
   */

   .c-featured-project__services{

        color: c( blush );

   }

   .c-featured-project__title{

    margin-bottom: spacer( component, m );

   }

 /**
  * Featured Project Action
  */

  .c-featured-project__action{

    display: inline-block;
    margin-top: spacer( component, xl );

  }
