/**
 * Type	: Component
 * Name	: Icon Title
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * Icon Title • Settings
 * *************************************
 */

/**
 * ************************************
 * Icon Title • Class Definitions
 * ************************************
 */

 .c-icon-title{

   align-items: center;
   display: flex;

 }

 .c-icon-title__icon{

    margin-right: spacer( component, l );

 }