/**
 * Type	: Component
 * Name	: Island
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * Island • Settings
 * *************************************
 */


/**
 * ************************************
 * Island • Class Definitions
 * ************************************
 */

 .c-island{

    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    min-height: 400px;
    padding: spacer( component, xl ) spacer( component, xl );
    position: relative;
    text-align: center;


    @include breakpoint( m ){

        min-height: 600px;

    }

 }

 .c-island__icon,
 .c-island__icon svg{

   height: 64px;
   width: 64px;

 }

 .c-island__icon{
    margin-left: auto;
    margin-right: auto;
 }

.c-island__title{

    margin-bottom: spacer( component, xs );

}

 .c-island__copy{

    margin: 0 auto;
    max-width: 400px;

 }

 .c-island__action{

    display: inline-block;
    margin-top: spacer( component, l );

 }

 /**
  * Island Color Themes
  */

  .c-island--dark{

    color: c( white );

  }

  .c-island--light{

    color: c( gray--d );

  }