/**
 * Type	: Component
 * Name	: Menu
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * Menu • Settings
 * *************************************
 */
 $mobile_header_height: 50px;

/**
 * ************************************
 * Menu • Class Definitions
 * ************************************
 */

.c-menu{

    display: flex;

}

/**
 * Primary Menu
 */

.c-menu--primary .c-menu__link{

    color: c( gray--m );
    padding: 5px;

    @include transition( link );

    &:hover{

        color: c( gold );

    }

}

.c-menu--primary .menu-item:not( :last-child ){

    margin-right: 24px;

}


// Active States
.c-menu--primary .current-menu-item .c-menu__link{

    font-weight: 700;
    color: c( purple );

}


/**
 * Mobile Menu Button
 */
.c-mobile-menu-button{

	appearance: none;
	background-color: white;
	backface-visibility: hidden;
	height: calc( #{$mobile_header_height} - 1px );
	padding: 0;
	position: relative;
	width: calc( #{$mobile_header_height} - 1px );
	z-index: z( above-base );

}

.c-mobile-menu-button:active{

	background-color: c( gray--l, light5 );

}

.c-mobile-menu-button__bread{

	background-color: c( purple, light10 );
	backface-visibility: hidden;
	height: 2px;
	left: 15px;
	position: absolute;
	width: 17px;
	z-index: z( base );

	@include transition( mobile-menu );

}

.c-mobile-menu-button__bread.--top{

	top: 19px;
	transform-origin: 50% 0 0;

}

.c-mobile-menu-button__bread.--bottom{

	top: 27px;
	transform-origin: 50% 0 0;

}

.c-header.--mobile-menu-open .c-mobile-menu-button__bread.--top{

	transform: translateY( 8px );

}


.c-header.--mobile-menu-open .c-mobile-menu-button__bread.--bottom{

	//transform: translateY( -4px );

}

.c-header.--mobile-menu-open .c-mobile-menu-button__bread{

	background-color: c( gray--m );

}

/**
 * Mobile Menu
 */

.c-menu--mobile{

	background-color: c( white );
	display: flex;
	flex-direction: column;
	height: 100vh;
	left: 0;
	padding: spacer( component, l ) spacer( component, 2xl );
	position: fixed;
	top: $mobile_header_height;
	transform: translateY( -100% );
	width: 100%;
	z-index: z( below-nav );

	@include transition( mobile-menu );
	@include opacity( 0 );

}

.c-menu--mobile.--active{

	transform: translateY( 0% );

	@include opacity( 1 );

}

.c-menu--mobile li:not( :first-child ){

	@include border( top, link, c( gray--l ) );

}

.c-menu--mobile li a{

	color: c( gray--m );
	display: inline-block;
	padding: spacer( component, xs ) 0;

}
