/**
 * Type	: Component
 * Name	: Menu
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * Menu • Settings
 * *************************************
 */


/**
 * ************************************
 * Menu • Class Definitions
 * ************************************
 */

.c-menu{

    display: flex;

}

/**
 * Primary Menu
 */

.c-menu--primary .c-menu__link{

    color: c( gray--m );
    padding: 5px;

    @include transition( link );

    &:hover{

        color: c( gold );

    }

}

.c-menu--primary .menu-item:not( :last-child ){

    margin-right: 24px;

}


// Active States
.c-menu--primary .current-menu-item .c-menu__link{

    font-weight: 700;
    color: c( purple );

}


/**
 * Mobile Menu
 */
