/**
 * Type	: Component
 * Name	: Navigation
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * Navigation • Settings
 * *************************************
 */


/**
 * ************************************
 * Navigation • Class Definitions
 * ************************************
 */

 .c-nav--primary{

	 align-items: center;
	 display: none;
	 justify-content: space-between;
	 padding: spacer( component, l ) 0;

	 @include breakpoint( m ){
		display: flex;
	}

 }

 .c-nav--primary .f-logo{

    max-width: 70px;
    margin: 0 auto;

 }

 .c-nav--primary .f-logo:hover img{

    @include opacity( .75 );

 }


 /**
  * Mobile Navigation Bar
  */

  .c-nav--mobile{

	display: block;

	@include breakpoint( m ){
		display: none;
	}

  }

  .c-nav--mobile__content{

	align-items: center;
	display: flex;
	justify-content: space-between;

  }

  .c-nav--mobile .f-logo{

    max-width: 36px;
    margin: 0 auto;

 }
