/**
 * Type	: Component
 * Name	: Progressive
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * Progressive • Settings
 * *************************************
 */
$progressive-blur: blur( 2vw );
$progressive-scale: scale( 1.05 );

/**
 * ************************************
 * Progressive • Class Definitions
 * ************************************
 */


 /**
  * Global Progressive Settings
  */

  .c-progressive{

	display: block;
	overflow: hidden;
	position: relative;

  }

  .c-progressive__image{

	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height: auto;
	width: 100%;

  }


  .c-progressive[data-type="bg"]{

	display: block;
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: z( below );

	.c-progressive__image{
		height: 100%;
		object-fit: cover;
	}

 }

  .c-progressive__aspect-ratio-sizer{
	display: inherit;
  }

  .c-progressive__image.--preview{

	filter: $progressive-blur;
	transform: $progressive-scale;

  }

  .c-progressive__image.--revealing{

	will-change: opacity, transform;
	animation: revealFullImage 1s ease;

  }

  @keyframes revealFullImage {

	from {

		opacity: 0;
		transform: $progressive-scale;

	}

	to {

		opacity: 1;
		transform: scale(1);

	}

  }
