/**
 * Type	: Component
 * Name	: Progressive
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * Progressive • Settings
 * *************************************
 */
$progressive-blur: blur( 30px );
$progressive-scale: scale( 1.05 );

/**
 * ************************************
 * Progressive • Class Definitions
 * ************************************
 */


 /**
  * Global Progressive Settings
  */

  .c-progressive {

	overflow: hidden;
	position: relative;
	background: c( white );

  }

  .c-progressive__image{

	height: 100%;
	width: 100%;
  	transform: translateZ(0);

  }

  .c-progressive > .--not-loaded{

	filter: $progressive-blur;

  }

  .c-progressive > .--loaded {

	filter: $progressive-blur;
	animation: loadProgressiveImage .5s both;

  }

  @keyframes loadProgressiveImage {

	from {

	  filter: $progressive-blur;
	  transform: $progressive-scale;

	}

	to {

	  filter: blur(0px);
	  transform: scale(1);

	}

  }
