/**
 * Type	: Component
 * Name	: Progressive
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * Progressive • Settings
 * *************************************
 */


/**
 * ************************************
 * Progressive • Class Definitions
 * ************************************
 */


 /**
  * Global Progressive Settings
  */

  .c-progressive{
	line-height: 0;
  }

  .c-progressive__placeholder{
	filter: blur(25px) grayscale(0);
	transform: scale( 1.05 );
  }

  .c-progressive__image{

	backface-visibility: hidden;
	position: relative;
	transform-style: preserve-3d;
	transition: opacity 1s ease;
	transition-delay: .1s;
	will-change: opacity;

	@include opacity( 0 );

}

.c-progressive__image.--loaded{

	@include opacity( 1 );

}


 /**
  * Standard Progressive Image
  */
 .c-progressive.--img{
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.c-progressive.--img .c-progressive__placeholder{

	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: auto;
	z-index: z( base );

}

.c-progressive.--img .c-progressive__image{
	z-index: z( above-base );
}


/**
  * Background Progressive Image
  */

.c-progressive.--bg .c-progressive__placeholder,
.c-progressive.--bg .c-progressive__image{

	display: block;
	position: absolute;
	left: -1000%;
	right: -1000%;
	top: -1000%;
	bottom: -1000%;
	margin: auto;
	min-height: 100%;
	min-width: 100%;
	object-fit: cover;
	object-position: 50% 50%;

}
