/**
 * Type	: Component
 * Name	: Responsive Video
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * Responsive Video • Settings
 * *************************************
 */


/**
 * ************************************
 * Responsive Video • Class Definitions
 * ************************************
 */
.c-responsive-video{

	background-color: c( gray--l );
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	max-width: 100%;
	height: auto;

	&:before {
        animation: 2s linear infinite videoLoadingSpinner;
        border: solid 3px c(  white );
        border-bottom-color: c( navy );
        border-radius: 50%;
        content: "";
        height: 40px;
        left: 50%;
        opacity: inherit;
        position: absolute;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        transform-origin: center;
        width: 40px;
        will-change: transform;
    }

}

.c-responsive-video iframe,
.c-responsive-video object,
.c-responsive-video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@keyframes videoLoadingSpinner {

    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
	}

    100% {
         transform: translate3d(-50%, -50%, 0) rotate(360deg);
	}

}
