/**
 * Type	: Component
 * Name	: Split
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * Split • Settings
 * *************************************
 */


/**
 * ************************************
 * Split • Class Definitions
 * ************************************
 */

 .c-split{

	display: flex;
	flex-direction: column-reverse;
	margin: 0 auto;
	max-width: 700px;
    position: relative;

	@include shadow( media--subtle );

	@include breakpoint( l ){
		flex-direction: row;
		max-width: 100%;

	}

 }

 .c-split__half{

	flex: 1 0 100%;
	overflow: hidden;
	position: relative;
	z-index: z( base );

	@include breakpoint( l ){
		 flex: 1 0 50%;
	}

 }

 .c-split__content{

	background-color: c( white );
	padding: spacer( layout, l ) spacer( component, xl );

	@include breakpoint( l ){
		padding: spacer( layout, xl ) spacer( component, 4xl );
	}

 }

 .c-split__media{

	height: 350px;

	@include breakpoint( l ){

		height: 100%;

	}

 }
