/**
 * Type	: Component
 * Name	: Gallery - Photo
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * Gallery - Photo • Settings
 * *************************************
 */


/**
 * ************************************
 * Gallery - Photo • Class Definitions
 * ************************************
 */

 // https://medium.com/@andybarefoot/a-masonry-style-layout-using-css-grid-8c663d355ebb

.c-gallery--photo{
	max-width: 1920px;
	margin: 0 auto;
}

.c-gallery--photo .c-gallery__media{

	cursor: pointer;
	margin-bottom: spacer( component, xs );
	overflow: hidden;
	transition: all .2s ease;

	@include transition( link );

}

.c-gallery__grid-sizer,
.c-gallery--photo .c-gallery__media{
	width: 25%;
}

.c-gallery--photo .c-gallery__media:hover{

	@include opacity( .8 );

}
