/**
 * Type	: Component
 * Name	: Gallery - Video
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * Gallery - Video • Settings
 * *************************************
 */


/**
 * ************************************
 * Gallery - Video • Class Definitions
 * ************************************
 */

.c-gallery--video{

	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.c-gallery--video .c-gallery__media{

	flex: 1;
	margin-bottom: spacer( component, xs );

}
