/**
 * Type	: Component
 * Name	: Gallery - Photo
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * Gallery - Photo • Settings
 * *************************************
 */


/**
 * ************************************
 * Gallery - Photo • Class Definitions
 * ************************************
 */

 .c-gallery--photo{

	display: grid;
	grid-column-gap: spacer( component, xs );
	grid-row-gap: spacer( component, xs );
	grid-template-columns: 100%;
	grid-template-rows: auto;
	padding: spacer( component, xs );


	@include breakpoint( s ){

		grid-template-columns: repeat( 2, 50% );

	}


	@include breakpoint( l ){

		grid-template-columns: repeat( 3, 33.33333% );

	}


}

.c-gallery--photo .c-gallery__media{

	cursor: pointer;
	height: 350px;
	overflow: hidden;
	position: relative;

	@include transition( link );

}

.c-gallery--photo .c-gallery__media:hover{

	@include opacity( .8 );

}

.c-gallery--photo .c-progressive__placeholder,
.c-gallery--photo .c-progressive__image{

	display: block;
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
	min-width: 100%;
	object-fit: cover;
	object-position: 50% 50%;

}
