/**
 * Type	: Component
 * Name	: Gallery - Photo
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * Gallery - Photo • Settings
 * *************************************
 */


/**
 * ************************************
 * Gallery - Photo • Class Definitions
 * ************************************
 */

 // https://medium.com/@andybarefoot/a-masonry-style-layout-using-css-grid-8c663d355ebb

.c-gallery--photo .c-gallery__media{

	cursor: pointer;
	margin-bottom: spacer( component, xs );
	overflow: hidden;
	transition: all .2s ease;

	@include transition( link );

}

.c-gallery__grid-sizer,
.c-gallery--photo .c-gallery__media{

	width: 100%;

	@include breakpoint( xs ){

		width: 49%;

	}

	@include breakpoint( s ){

		width: 49%;

	}

	@include breakpoint( m ){

		width: 32.75%;

	}

	@include breakpoint( l ){

		width: 24.5%;

	}

}

.c-gallery__gutter-sizer{

	width: 0%;

	@include breakpoint( xs ){

		width: 2%;

	}

	@include breakpoint( m ){

		width: .875%;

	}

	@include breakpoint( l ){

		width: .667%;

	}

}

.c-gallery--photo .c-gallery__media:hover{

	@include opacity( .8 );

}
