/**
 * Type	: Component
 * Name	: Collection -- Islands
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * Collection -- Islands • Settings
 * *************************************
 */

/**
 * ************************************
 * Collection -- Islands • Class Definitions
 * ************************************
 */

.c-collection--islands{

	align-items: stretch;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
    padding: spacer( component, s );

    @include breakpoint( m ){

        flex-direction: row;

    }

}

.c-collection--islands .c-island{

	border-bottom: 12px solid white;
	flex-grow: 1;
	min-width: 50%;

}


.c-collection--islands .c-island:nth-child( even ){

	border-left: none;

	@include breakpoint( m ){

		border-left: 12px solid white;

	}

}
