/**
 * Type	: Component
 * Name	: Collection -- Islands
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * Collection -- Islands • Settings
 * *************************************
 */

/**
 * ************************************
 * Collection -- Islands • Class Definitions
 * ************************************
 */

.c-collection--islands{

    display: flex;
    flex-direction: column;
    padding: spacer( component, s );

    @include breakpoint( m ){

        flex-direction: row;

    }

}

.c-collection--islands .c-island:first-child{

    margin-bottom: spacer( component, s );
    margin-right: 0;

    @include breakpoint( m ){

        margin-bottom: 0;
        margin-right: spacer( component, s );

    }

}