/**
 * Name		: Loader
 * Desc		: Handles importing/loading of all partial files in the specified group.
 * Group	: Pages
 *
 * @since 1.0.0
 * @author CreativeFuse
 */


/**
 * ****************
 * File Import List
 * ****************
 */

	//
	// All files are imported in alphabetical order unless otherwise specified.
	//

	@import '_about';
	@import '_contact';
	@import '_contact-thank-you';
	@import '_dashboard';
	@import '_headshots';
	@import '_home';
	@import '_not-found';
	@import '_privacy-policy';
	@import '_single-project';
	@import '_studio-rental';
	@import '_template-landing';
