/**
 * Type	: Page
 * Name	: About
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * About • Settings
 * *************************************
 */


/**
 * ************************************
 * About • Class Definitions
 * ************************************
 */

 .p-about--quote{

    padding: spacer( layout, xl ) 0 spacer( layout, l );
    text-align: center;

}

.p-about--philosophy{

    padding-bottom: spacer( layout, 3xl );

}

.p-about--philosophy .o-content-block{

    color: c( gray--m );
    margin: 0 auto;
    max-width: 700px;
    text-align: center;

}

/**
 * Story Section
 */

.p-about--story{

    background-color: c( gray--l );
    margin-top: spacer( layout, 2xl );
    padding: spacer( layout, 2xl ) 0;

 }

 .p-about-story__story{

    margin-top: -375px;

 }

/**
 * Squad Section
 */

.p-about-story__squad-intro{

    padding-top: spacer( layout, 2xl );

}

.p-about-story__squad-intro .o-content-block{

    margin-bottom: spacer( layout, l );
    max-width: 500px;

}

/**
 * Founders Section
 */
 .p-about-story__founders{
	 //
 }

/**
 * Team Members Section
 */
.p-about-story__team-members{
	//
}
