/**
 * Type	: Page
 * Name	: Contact
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * Contact • Settings
 * *************************************
 */


/**
 * ************************************
 * Contact • Class Definitions
 * ************************************
 */

body.contact-us article{

    display: flex;

}

 .p-contact--split{

    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    position: relative;

 }

 .p-contact--split__container{

    display: flex;
    flex-direction: column;
    width: 100%;

 }

/**
 * Left Side
 */
 .p-contact--left{

   flex: 0 0 33.33%;

 }

 .p-contact--left .p-contact--split__container{

   justify-content: space-between;
   height: 100%;

 }

 .p-contact--left .c-bg-image{

    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

 }


/**
 * Right Side
 */
 .p-contact--right{

    flex: 0 0 66.66%;
    padding: spacer( component, l );

 }

 .p-contact--right .p-contact--split__container{

    margin: 0 auto;
    max-width: 600px;

 }

 .p-contact__logo{

   margin-bottom: spacer( component, s );
   max-width: 75px;

 }

 .p-contact__intro{

   margin-bottom: spacer( component, 4xl );
   padding-bottom: spacer( component, l );

 }

 .p-contact__intro .o-content-block__title{

   margin-bottom: 0;

 }

 /**
  * Contact Title Block
  */

  .p-contact__title-group{

    color: c( gray--d );
    padding: spacer( component, xl );

    .o-content-block__title{

        margin-bottom: 0;

    }

  }


 /**
  * Contact Info Block
  */

  .p-contact__info{

    margin-bottom: 0;
    margin-top: auto;
    padding: spacer( component, m );


    .o-content-block__title{

      margin-bottom: spacer( component, s );

    }

    .o-content-block__copy{

      margin-bottom: 0;

    }

  }

  .p-contact__info__wrapper{

    background-color: c( white );
    color: c( gray--d );
    padding: spacer( component, xl );

    @include border( top, card, c( purple ) );
    @include shadow( media--subtle );

  }

  .c-contact__item{

   margin-bottom: spacer( component, xs );

   @include transition( link );

   &:hover{
    color: c( purple );
   }

  }

  .c-contact__phone,
  .c-contact__email,
  .c-contact__address{

    display: block;

  }

  .c-contact__address--top,
  .c-contact__address--bottom{

   display: block;

  }


  /**
   * Action Block
   */
   .p-contact__action{

      background-color: c( gray--d );
      color: c( white );
      display: block;
      margin-bottom: 0;
      padding: spacer( component, xl );
      text-align: center;
      width: 100%;
      z-index: z( front );

      @include transition( link );

      &:hover{

        background-color: c( gray--d, light10 );

      }

   }