/**
 * Type	: Page
 * Name	: Home
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * Home • Settings
 * *************************************
 */


/**
 * ************************************
 * Home • Class Definitions
 * ************************************
 */


 /**
  * Intro Section
  */
 .p-home--intro{

   padding: spacer( layout, 2xl ) 0;

 }

 .p-home--intro .o-content-block{

    text-align: center;

 }

 .p-home--intro .o-content-block__media{

  margin-bottom: spacer( component, l );

 }

 .p-home--intro .o-content-block__media .f-logo{

  margin: 0 auto;
  max-width: 100px;

 }

 .p-home--intro .o-content-block__copy{

    margin: 0 auto;
    max-width: 600px;

 }

 /**
  * Featured Projects Section
  */

  .p-home--projects{

    background-color: c( gray--l );
    padding: spacer( layout, xl ) 0;

  }

  .p-home--projects__intro{

    background-color: c( gray--d );
    color: c( white );
    display: block;
    margin-bottom: spacer( component, 2xl );
    padding: spacer( component, l ) spacer( component, 2xl );

  }

  .p-home--projects__intro .o-content-block__copy{

    margin-bottom: spacer( component, m );

  }

  .p-home--projects__content{

    margin-top: spacer( layout, 3xl );

  }

  .p-home--projects__action{

    margin-top: spacer( layout, xl );

  }

/**
* Clients Section
*/

.p-home--clients{

    padding: spacer( layout, 2xl ) 0;
    text-align: center;

}

.p-home--clients .o-content-block{

    margin-bottom: spacer( layout, l );

}

.p-home--clients__action{

    margin-top: spacer( component, xl );

}