/**
 * Type	: Page
 * Name	: Home
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * Home • Settings
 * *************************************
 */


/**
 * ************************************
 * Home • Class Definitions
 * ************************************
 */


 /**
  * Intro Section
  */
 .p-home--intro{

   padding: spacer( layout, 3xl ) 0;

 }

 .p-home--intro .o-content-block{

    text-align: center;

 }

 .p-home--intro .o-content-block__copy{

    margin: 0 auto;
    max-width: 600px;

 }



 /**
  * Featured Projects Section
  */

  .p-home--projects{

    background-color: c( purple );

  }


  .p-home--projects__wrapper{

    background-color: c( white );

  }

/**
* Clients Section
*/

.p-home--clients{

    padding: spacer( layout, 2xl ) 0;
    text-align: center;

}

.p-home--clients .o-content-block{

    margin-bottom: spacer( layout, l );

}

.p-home--clients__action{

    margin-top: spacer( component, xl );

}