
/**
 * Project Hero
 */
.p-project__hero{

	border-top: 2px solid c( gray--l );
	padding: spacer( layout, m ) 0;

	@include breakpoint( m ){
		padding: spacer( layout, xl ) 0;
	}

}

.p-project__hero__container{

	display: flex;
	flex-direction: column;

	@include breakpoint( m ){
		flex-direction: row;
	}

}

.p-project__hero__left{

	border-bottom: 1px solid c( gray--m );
	flex: 1;
	padding-bottom: spacer( component, 2xl );
	padding-right: 0;

	@include breakpoint( m ){
		border-bottom: none;
		border-right: 1px solid c( gray--l, dark10 );
		flex: 1 0 60%;
		padding-bottom: 0;
		padding-right: spacer( component, 2xl );
	}

}

.p-project__hero__right{

	flex: 1;
	padding-left: 0;
	padding-top: spacer( component, 2xl );

	@include breakpoint( m ){
		flex: 1 0 40%;
		padding-left: spacer( component, 2xl );
		padding-top: 0;
	}

}


.p-project__hero__left,
.p-project__hero__right{
	//
}


.p-project__client-header,
.p-project__info-header{
	color: c( purple );
	margin-bottom: spacer( component, l );
}

/**
 * Project Info
 */
 .p-project__title{

	 margin-bottom: spacer( component, xs );

 }

.p-project__description{

	margin-bottom: spacer( component, m );

}

.p-project__mediums{
	margin-bottom: spacer( component, m );
}

 /**
  * Client Info
  */


.p-project__client-website{

	color: c( gold );

}

.p-project__client-info{
	margin-bottom: spacer( component, m );
}

.p-project__client-description{

	margin-bottom: spacer( component, m );

}

/**
 * Project Media
 */

 .p-project__media{

	padding: spacer( component, xs );

 }
