/**
 * Type	: Page
 * Name	: Landing Template
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * Landing Template • Settings
 * *************************************
 */


/**
 * ************************************
 * Landing Template • Class Definitions
 * ************************************
 */
.t-landing article{
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	flex-direction: column;
	text-align: center;
	padding: spacer( component, m );
}

.t-landing article > *{

	width: 100%;

}

.t-landing .c-responsive-video{
	background-color: c( white );
	margin: 0 auto;
}

// Header
.t-landing__header{
	max-width: 800px;
}

.t-landing__logo{
	display: inline-block;
	margin-bottom: spacer( component, m );
	margin-left: auto;
	margin-right: auto;
	max-width: 75px;

	@include transition( 'link' );

}

.t-landing__logo:hover{

	@include opacity( .7 );

}

// Content
.t-landing__content,
.t-landing__footer{

	max-width: 650px;

}

.t-landing__content-title{

	margin-bottom: spacer( component, s );

}

.t-landing__content p a{

	color: c( purple );

}
