/**
 * Type	: Component
 * Name	: Button -- Global
 * Description: These styles apply to ALL buttons on the site
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * Button -- Global • Settings
 * *************************************
 */


/**
 * ************************************
 * Button -- Global • Class Definitions
 * ************************************
 */

 .c-btn{

    display: inline-block;
    cursor: pointer;
    position: relative;

 }

 .c-btn__text{

    display: block;

 }

 .c-btn__text,
 .c-btn__icon{

    backface-visibility: hidden;

 }