/**
 * Type	: Component
 * Name	: Button -- Tertiary
 * Description: Styles for our `Tertiary` buttons.
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * Button -- Tertiary • Settings
 * *************************************
 */


/**
 * ************************************
 * Button -- Tertiary • Class Definitions
 * ************************************
 */

.c-btn--tertiary{

    align-items: center;
    display: flex;
    justify-content: center;

    @include transition( link );

}

.c-btn--tertiary--light{

    color: c( white );

}

.c-btn--tertiary--dark{

    color: c( gray--d );

}


/**
 * Tertiary Text
 */
 .c-btn--tertiary > .c-btn__text{

    margin-right: spacer( component, s );

 }

/**
 * Tertiary Icon
 */
.c-btn--tertiary > .c-btn__icon{

    display: flex;
    align-items: center;
    justify-content: center;

    @include transition( btn-icon );

}

.c-btn--tertiary > .c-btn__icon > svg {

    height: auto;
    width: 16px;

 }


/**
 * Hover State
 */

 .c-btn--tertiary:hover {

    @include opacity( .7 );

 }

.c-btn--tertiary:hover > .c-btn__icon{

    transform: translate3d( 8px, 0, 0 );

}