/**
 * Type	: Component
 * Name	: Button -- Primary
 * Description: Styles for our `Primary` buttons.
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * Button -- Primary • Settings
 * *************************************
 */


/**
 * ************************************
 * Button -- Primary • Class Definitions
 * ************************************
 */

.c-btn--primary{

    align-items: center;
    border: 2px solid transparent;
    color: c( white );
    display: inline-flex;
    justify-content: center;
    padding: spacer( component, s ) spacer( component, 2xl );

    @include transition( btn );

}

/**
 * Primary Text
 */

.c-btn--primary > .c-btn__text{

    margin-right: spacer( component, s );

}

/**
 * Primary Icon
 */

.c-btn--primary > .c-btn__icon{

    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    top: 1px;


    @include transition( btn-icon );


}

.c-btn--primary > .c-btn__icon > svg {

    height: 22px;
    width: auto;

 }

 .c-btn--primary:hover > .c-btn__icon{

    transform: translate3d( 8px, 0, 0 );

 }


/**
 * Btn Themes
 */

.c-btn--primary--dark{

    background-color: c( gray--d );

    &:hover{

        background-color: c( gray--d, dark5 );

    }

    &:active{

        background-color: c( gray--d, dark10 );

    }

}

.c-btn--primary--white{

    background-color: c( white );
    color: c( gray--d );

    &:hover{

        background-color: c( gray--l );

    }

    &:active{

        background-color: c( gray--l, dark10 );

    }

}

.c-btn--primary--purple{

    background-color: c( purple );

    &:hover{

        background-color: c( purple, light10 );

    }

    &:active{

        background-color: c( purple, dark5 );

    }

}

.c-btn--primary--gold{

    background-color: c( gold );

    &:hover{

        background-color: c( gold, dark5 );

    }

    &:active{

        background-color: c( gold, dark10 );

    }

}