/**
 * Type	: Object
 * Name	: Content Block
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * Content Block • Settings
 * *************************************
 */

/**
 * ************************************
 * Content Block • Class Definitions
 * ************************************
 */

.o-content-block{

   position: relative;
   z-index: z( front );

}

/**
 * Content Block • Media
 */

 .o-content-block__media{

    margin-bottom: spacer( component, 2xl );

}

 /**
 * Content Block • Title
 */

 .o-content-block__title{

    margin-bottom: spacer( component, l );

 }

  /**
 * Content Block • Title
 */

 .o-content-block__copy{

   margin-bottom: spacer( component, l );

}

/**
 * Content Block • Actions
 */
.o-content-block__action{

    margin-top: spacer( component, 2xl );

}

/**
 * Content Block • Modifiers
 */

 // Multiple inline actions (such as multiple buttons)
 .o-content-block__action--inline > * {

    margin: spacer( component, s ) spacer( component, m );

 }


 .o-content-block ul{

	margin-bottom: spacer( component, m );
	margin-left: spacer( component, l );

}

.o-content-block li{

	list-style: disc;
	margin-bottom: spacer( component, s );

 }
