/**
 * Type	: Object
 * Name	: Icon Block
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * Icon Block • Settings
 * *************************************
 */


/**
 * ************************************
 * Icon Block • Class Definitions
 * ************************************
 */

.o-icon-block__icon{

    margin-bottom: spacer( component, 2xl );

}

.o-icon-block__title{

    margin-bottom: spacer( component, xl );

}

.o-icon-block__action{

    margin-top: spacer( component, 2xl );

 }