/**
 * Type		:	Config
 * Group	:	Typography
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * The core type settings for our project
 * @type {[type]}
 */
$type_config : (

	root-font-size		:	100%,	// sets the base for our entire project
	base-font-size		:	.875rem, // used for base body
	base-line-height	:	1.5,

	scale : (

		desktop	: 1.414,
		mobile	: 1.250,

	)

);

/**
 * A configuration map to set up our fonts
 */
$font_config : (

	// Configure the font
	// used for our project's body
	body: (

		family 		: ( "Open Sans" ),
		fallback	: ( sans-serif ),
		style		: normal,

		// Delete weights you don't need
		weights: (

			regular		:	400,
			bold 		:	700,

		)

	),

	// Configure font options for our
	// project's headings
	heading: (

		family 		: ( "Lato" ),
		fallback	: ( sans-serif ),
		style		: normal,

		// Delete weights you don't need
		weights: (

			light		:	200,
			regular		:	400,
			medium		:	500,
			bold		:	700,

		)

	)

);