/**
 * Type		:	Config
 * Group	:	Transitions
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

$transitions_config: (

	// Example Transition Definition

	link :(

	 	properties: all,
	 	duration: .15s,
		 timing: ease,

	),

	btn :(

	 	properties: all,
	 	duration: .2s,
	 	timing: ease-in-out,

	),

	btn-icon :(

		properties: all,
		duration: .45s,
		timing: cubic-bezier(.23,1,.32,1),

	),

	mobile-menu :(

		properties: all,
		duration: .4s,
		timing: cubic-bezier(.52,.16,.24,1),

	)

);
