/**
 * Type		:	Config
 * Group	:	Grid
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * Global Grid Settings
 */

$grid_config : (

	width--full				: 100%,
	width--l				: 1200px,
	width--s				: 1000px,
	width--xs				: 700px,
	container-width-desktop	: 90%,
	container-width-mobile	: 85%,

);