/**
 * Type		:	Config
 * Group	:	Borders
 *
 * @since 1.0.0
 * @author CreativeFuse
 */


$border_config : (

	accessibility-focus:(

		width: 1px,
		style: solid,
		color: gray--m,
		tone: base,
		radius: 0px,

	),

	link:(

		width	: 2px,
		style	: solid,
		color	: transparent,
		radius	: 0px,

	),

	btn:(

		width	: 0px,
		style	: solid,
		color	: transparent,
		radius	: 0px,

	),

	card:(

		width	: 2px,
		style	: solid,
		color	: transparent,
		radius	: 0px,

	),

);