/**
 * Type		:	Config
 * Group	:	Breakpoints
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

$breakpoints_config:(

	2xs		:	414px,
	xs		:	560px,
	s		: 	768px,
	m		:	960px,
	l		:	1040px,
	xl		:	1200px,
	2xl		:	1440px,
	3xl		:	1640px

);