/**
 * Type		:	Config
 * Group	:	Shadows
 *
 * @since 1.0.0
 * @author CreativeFuse
 */


$shadows_config : (

	media--subtle : (

		base		: 0px 0px 7px 1px,
		color		: grayscale,
		tone		: 30,
		opacity		: .1,

	),


);