/**
 * Type     :   Config
 * Group    :   Colors
 *
 * @since 1.0.0
 * @author CreativeFuse
 */


// ----------------------------------------
// The $colors map is where you define all
// of your brand colors.
//
// This should be the ONLY place color hex values are defined in your project
// ----------------------------------------

$colors : (

    // BASE COLORS
    dark-lavender   : #765688,
    //shadow          : #887F56,
    artichoke          : #9D9674,
    onyx            : #2E393D,
    trolley-grey    : #7A8183,
    platinum        : #E6E8E8,
    white           : #FFFFFF,

);

// ----------------------------------------
// Define the color scale map to use with our project.
//
// Our color scale map is relative to the $colors defined above.
// We do not declare arbitrary hex values, but rather, keep each
// branded color relative to its base value, and either lighten(),
// or darken() accordingly
// ----------------------------------------

$color_config: (

    purple: (


        light10 :   lighten( map-get( $colors, dark-lavender ), 10% ),

        light5  :   lighten( map-get( $colors, dark-lavender ), 5% ),

        base    :   map-get( $colors, dark-lavender ),

        dark5   :   darken( map-get( $colors, dark-lavender ), 5% ),

        dark10   :   darken( map-get( $colors, dark-lavender ), 10% ),

    ),

    gold: (


        light10 :   lighten( map-get( $colors, artichoke ), 10% ),

        light5  :   lighten( map-get( $colors, artichoke ), 5% ),

        base    :   map-get( $colors, artichoke ),

        dark5   :   darken( map-get( $colors, artichoke ), 5% ),

        dark10   :   darken( map-get( $colors, artichoke ), 10% ),


    ),

    gray--d: (

        light10 :   lighten( map-get( $colors, onyx ), 10% ),

        light5  :   lighten( map-get( $colors, onyx ), 5% ),

        base    :   map-get( $colors, onyx ),

        dark5   :   darken( map-get( $colors, onyx ), 5% ),

        dark10   :   darken( map-get( $colors, onyx ), 10% ),

    ),

    gray--m: (

        light10 :   lighten( map-get( $colors, trolley-grey ), 10% ),

        light5  :   lighten( map-get( $colors, trolley-grey ), 5% ),

        base    :   map-get( $colors, trolley-grey ),

        dark5   :   darken( map-get( $colors, trolley-grey ), 5% ),

        dark10   :   darken( map-get( $colors, trolley-grey ), 10% ),

    ),

    gray--l: (

        light10 :   lighten( map-get( $colors, platinum ), 10% ),

        light5  :   lighten( map-get( $colors, platinum ), 5% ),

        base    :   map-get( $colors, platinum ),

        dark5   :   darken( map-get( $colors, platinum ), 5% ),

        dark10   :   darken( map-get( $colors, platinum ), 10% ),

    ),

    white: (

        base    :   map-get( $colors, white ),

    ),

    // ----------------------------------------
    // A SASSY Grayscale courtesy of the awesome people at Sparkbox.
    // Useful for any design system! Note that, when possible,
    // use specified colors from the color scales above.
    //
    // https://seesparkbox.com/foundry/sassy_grayscale
    // ----------------------------------------

    grayscale: (

        white   : #FFFFFF,
        99      : #FCFCFC,
        98      : #F3F3F3,
        95      : #EDEDED,
        90      : #E5E5E5,
        85      : #D9D9D9,
        80      : #CCCCCC,
        75      : #C0C0C0,
        70      : #B0B0B0,
        60      : #999999,
        50      : #808080,
        45      : #727272,
        40      : #696969,
        30      : #4D4D4D,
        20      : #363636,
        15      : #262626,
        10      : #171717,
        5       : #0A0A0A,
        black   : #000000,

    )
);