/**
 * Type	: Component
 * Name	: Founder
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

/**
 * *************************************
 * Founder • Settings
 * *************************************
 */


/**
 * ************************************
 * Founder • Class Definitions
 * ************************************
 */

.c-founder{

	display: flex;
	flex-direction: column;

}

.c-founder__role{
	color: c( navy );
	margin-bottom: spacer( component, l );
}

.c-founder__footer{

	margin-top: spacer( component, m );

}

.c-founder__social{
	justify-content: left !important;
}
